<!-- <?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util">

	<context:annotation-config />

	<bean id="userInterface"
		class="com.epam.bench.carrental.client.userinterface.UserInterface"
		init-method="createUserInterface" />

	<bean id="requestHandler" class="com.epam.bench.carrental.client.bl.RequestHandler" />

	<bean id="customButton"
		class="com.epam.bench.carrental.client.userinterface.СustomButton">
		<constructor-arg value="Test Connection" />
	</bean>

	<bean id="applicationClient"
		class="org.springframework.remoting.httpinvoker.HttpInvokerProxyFactoryBean">
		<property name="serviceUrl"
			value="http://localhost:9090/SpringHttpService/greeting.http" />
		<property name="serviceInterface"
			value="com.epam.bench.carrental.client.services.ServerInfo" />
	</bean>
</beans> -->